<div class="page-width" style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px">

  <h2 class="h2">{{ section.settings.title }}</h2>
  {% for metaobject in shop.metaobjects.case_studies.values %}
    {% assign check = false %}
    {% if section.settings.category == '' %}
      {% assign check = true %}
    {% elsif section.settings.category != '' and metaobject.category == section.settings.category %}
      {% assign check = true %}
    {% endif %}
  
    {% if check == true %}
      <div style="flex-direction:column" class="grid grid--1-col grid--3-col-tablet casestudies_list">
        <div class="grid__item scroll-trigger animate--slide-in">
          <a class="link animate-arrow" href="{{ metaobject.system.url }}">
            {{ metaobject.gallery.value | first | image_url: width: 1000 | image_tag: alt: metaobject.title  }}
            <div style="margin-top: 1rem">
              {{ metaobject.title }}
              <span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span>
            </div>
          </a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
<style>
  .casestudies_list img{
    width: 100%;
    height: auto;
  }
</style>

{% schema %}
  {
    "name": "Case Studies List",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "category",
        "label": "Category"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Section Padding Top",
        "default": 60,
        "min": 40,
        "max": 200,
        "unit": "px",
        "step": 5
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Section Padding Bottom",
        "default": 60,
        "min": 40,
        "max": 200,
        "unit": "px",
        "step": 5
      }
    ],
    "presets": [{
      "name": "Case Studies List"
    }]
  }
{% endschema %}