<div class="page-width" style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px">
  <div class="grid grid--1-col grid--2-col-tablet">
    <div class="grid__item">
      {{ metaobject.gallery }}
      {% for thingy in metaobject.gallery.value %}
        {{ thingy }}
      {% endfor %}
    </div>
    <div class="grid__item scroll-trigger animate--slide-in">
      {{ metaobject.content | metafield_tag }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Case Study Template",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "label": "Section Padding Top",
        "default": 60,
        "min": 40,
        "max": 200,
        "unit": "px",
        "step": 5
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Section Padding Bottom",
        "default": 60,
        "min": 40,
        "max": 200,
        "unit": "px",
        "step": 5
      }
    ],
    "presets": [{
      "name": "Case Study Template"
    }]
  }
{% endschema %}