<div class="color-{{ section.settings.color_scheme }} rte">
  <div class="page-width">
    <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
        <a href="{{ shop.url }}" title="Flagmakers Home">Home</a> 
      {{ template }}
        {% if template contains 'page' %}
        <span aria-hidden="true">&rsaquo;</span>
        <span>{{ page.title }}</span>
        
          {% elsif template contains 'product' %}

          {% for collection in product.collections %}
            {% if forloop.first %} <span aria-hidden="true">&rsaquo;</span> {% else %} <span aria-hidden="true">/</span> {% endif %}
            {{ collection.title | link_to: collection.url }}
          {% endfor %}
          <span aria-hidden="true">&rsaquo;</span>
          <span>{{ product.title }}</span> 

          {% elsif template contains 'collection' and collection.handle %}
        <span aria-hidden="true">&rsaquo;</span> {% if current_tags %} {% capture url %}/collections/{{ collection.handle }}{% endcapture %} {{ collection.title | link_to: url }}
        <span aria-hidden="true">&rsaquo;</span>
        <span>{{ current_tags | join: " + " }}</span> {% else %}
        <span>{{ collection.title }}</span> {% endif %} 
          
          {% elsif template == 'blog' %}
        <span aria-hidden="true">&rsaquo;</span> {% if current_tags %} {{ blog.title | link_to: blog.url }}
        <span aria-hidden="true">&rsaquo;</span>
        <span>{{ current_tags | join: " + " }}</span> {% else %}
        <span>{{ blog.title }}</span> {% endif %} 
          
          {% elsif template == 'article' %}
        <span aria-hidden="true">&rsaquo;</span> {{ blog.title | link_to: blog.url }}
        <span aria-hidden="true">&rsaquo;</span>
        <span>{{ article.title }}</span> {% else %}
        <span aria-hidden="true">&rsaquo;</span>
        <span>{{ page_title }}</span> {% endif %}
    </nav>
  </div>
</div>

{% style %}
  .breadcrumbs { 
    font-size: 12px;
    padding: 10px 0;
  }  
{% endstyle %}  

{% schema %}
  {
    "name": "Breadcrumbs",
    "settings": [{
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }],
    "presets": [{
      "name": "Breadcrumbs"
    }]
  }
{% endschema %}
