{% if section.settings.header_image != nil %}
<div class="scroll-trigger animate--fade-in">
  <figure class="animate--ambient scroll-trigger animate--fade-in">
    <img 
      src="{{ section.settings.header_image | image_url: width: 2500 | image_tag }}"
      alt="{{ section.settings.image.alt }}" loading="lazy" 
      width="{{ section.settings.image.width }}"
      height="{{ section.settings.image.height }}" />
  </figure>
  <div class="page-width section-conent">
    {% liquid 
       assign title = page.title
        if section.settings.title != ''
          assign title = section.settings.title
        endif
    %}
      <h1>{{ title }}</h1>
  </div>
</div>
<style>
  .section-fa-page-header{
    position: relative;
  }
  .section-fa-page-header figure{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    margin: 0;
    overflow: hidden; z-index: -1;
  }
  .section-fa-page-header .section-conent{
    min-height: 45vh;
    padding: 100px 0;
  }
  .section-fa-page-header h1{
    color: #fff !important;
  }
</style>
{% endif; %}

{% schema %}
  {
    "name": "Page Header Custom",
    "tag": "section",
    "class": "section section-fa-page-header",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "t:sections.collection-list.settings.title.label"
      },
      {
        "type": "image_picker",
        "id": "header_image",
        "label": "Custom Image"
      }
    ],
    "presets": [{
      "name": "Page Header Custom"
    }]
  }
{% endschema %}