{% liquid 
   assign title = page.title
    if section.settings.title != ''
      assign title = section.settings.title
    endif
%}
    
{% if section.settings.header_image != nil %}
<div class="scroll-trigger animate--fade-in with_media">
  <figure class="scroll-trigger animate--fade-in{% if section.settings.image_overlay %} with_overlay{% endif %}">
    {{ section.settings.header_image | image_url: width: 2500 | image_tag }}
    <div class="overlay" style="background: rgba({{ section.settings.image_overlay_color.rgb }} / {{ section.settings.image_overlay_opacity }}%)"></div>
  </figure>
  <div style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px" class="page-width section-content scroll-trigger animate--fade-in">
      <h1 class="h0">{{ title }}</h1>
  </div>
</div>
{% else %}
<div style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px" class="scroll-trigger animate--fade-in">
  <div class="page-width section-content animate--fade-in">
      <h1 class="h0 animate--fade-in">{{ title }}</h1>
  </div>
</div>
{% endif; %}

<style>
  .section-page-header{
    position: relative;
  }
  .section-page-header figure{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    margin: 0;
    overflow: hidden; z-index: -1;
  }
  .section-page-header figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .section-page-header figure .overlay {
    display:none
  }
  .section-page-header figure.with_overlay .overlay {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 45%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .section-page-header .with_media .section-content{
    min-height: 40vh;
    display: flex;
    align-items: center;
  }
  .section-page-header h1{
    margin: 0
  }
  .section-page-header .with_media h1{
    color: #fff !important;
  }
</style>

{% schema %}
  {
    "name": "Page Header Custom",
    "tag": "section",
    "class": "section section-page-header",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "t:sections.collection-list.settings.title.label"
      },
      {
        "type": "image_picker",
        "id": "header_image",
        "label": "Custom Image"
      },
      {
        "type": "checkbox",
        "id": "image_overlay",
        "label": "Use image overlay?"
      },
      {
        "type": "color",
        "id": "image_overlay_color",
        "label": "Image overlay color"
      },
      {
        "type": "range",
        "id": "image_overlay_opacity",
        "label": "Image overlay opacity",
        "default": 75,
        "min": 0,
        "max": 100,
        "unit": "%"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Section Padding Top",
        "default": 60,
        "min": 40,
        "max": 200,
        "unit": "px",
        "step": 5
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Section Padding Bottom",
        "default": 60,
        "min": 40,
        "max": 200,
        "unit": "px",
        "step": 5
      }
    ],
    "presets": [{
      "name": "Page Header Custom"
    }]
  }
{% endschema %}