{% if request.design_mode == false or section.settings.preview == true %}
  
  <div tabindex="-1" id="pcp_main">
    <div class="pcp__container">
      {% if collection.image %}
        {{ collection.image | image_url: width: 400 | image_tag }}
      {% endif %}
      <h2>{{ section.settings.heading | replace: '[company]', 'ITM' }}</h2>
      <div class="pcp__desc">
        {{ section.settings.paragraph | replace: '[company]', 'ITM' }}
      </div>
      <button id="pcp__accept" class="button">Yes I'm from BLAH</button>
      <button id="pcp__decline" class="button button--secondary">No I'm not from BLAH</button>
    </div>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function(){

      // setup vars
      const pcp = document.getElementById('pcp_main')
      if(!pcp) return;
    
      const pcpAccept = document.getElementById('pcp__accept')
      const pcpDecline = document.getElementById('pcp__decline')
      const storageName = 'pcp_{{ collection.id }}'
    
      // open the modal
      const openPcp = ()=>{
        pcp.style.display = "flex";
        pcp.focus()
      }
      // close the modal
      const closePcp = ()=>{
        pcp.style.display = "none";
      }
    
      // check if should open or not
      const check = Number(localStorage.getItem(storageName))
      console.log('date', check, Date.now())
      if (check < Date.now()){
        openPcp()
      }
    
    
      // trap focus inside modal
      pcp.addEventListener('keydown', function(e) {
        if (e.key === 'Tab') {
    
          // Get all focusable elements within the modal
          const focusableElements = pcp.querySelectorAll('button, [href], input, select, textarea, [tabindex]:not([tabindex="-1"])');
          const firstElement = focusableElements[0];
          const lastElement = focusableElements[focusableElements.length - 1];
    
          if (e.shiftKey && document.activeElement === firstElement) {
            e.preventDefault();
            lastElement.focus();
          } else if (
            !e.shiftKey &&
            document.activeElement === lastElement
          ) {
            e.preventDefault();
            firstElement.focus();
          }
        }
      });
    
      // on accept
      pcpAccept.addEventListener('click', ()=>{
        localStorage.setItem(storageName, Date.now() + 30000)
        closePcp()
      })
    
      // on decline
      pcpDecline.addEventListener('click', ()=>{
        window.location = '{{ shop.url }}'
      })
      
    
    })
  </script>

  <style>
    #pcp_main{
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      z-index: 999;
      align-items: center;
      justify-content: center;
    }
    .pcp__container {
      width: 90%;
      background-color: #ffffff;
      position: relative;
      border: 1px solid black;
      max-width: 600px;
      border-radius: 8px;
      padding: 4rem 1.5rem;
      text-align: center;
    }
    #pcp__close {
      padding-top: 1rem;
      padding-bottom: 2rem;
      display: block;
      margin-left: auto;
      font-weight: bold;
      border: transparent;
      background-color: transparent;
      font-size: 2rem;
      color: black;
      cursor: pointer;
    }
    .pcp__container img {
      width: 200px;
      height: 140px;
      object-fit: contain;
      margin: 0 auto;
    }
    .pcp__container h2 {
      margin: 0;
    }
    .pcp__container .pcp__desc {
      margin-bottom: 2rem;
    }
    .pcp__container .button{
      margin: 5px;
    }
    .pcp__container .button:focus{
      outline: 1px solid red
    }
  </style>
  
{% endif %}

{% schema %}
  {
    "name": "Private Collection Popup",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Heading Here",
        "placeholder": "Place Your Heading Here",
        "info": "Header for your popup"
      },
      {
        "type": "textarea",
        "id": "paragraph",
        "label": "Paragraph",
        "default": "Tell your customer why they should subscribe.",
        "placeholder": "Subscribe now to hear about great deals!",
        "info": "Paragraph area for pop up"
      },
      {
        "type": "checkbox",
        "id": "preview",
        "label": "Preview in Customiser",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Private Collection Popup"
      }
    ]
  }
{% endschema %}